@import url('http://fonts.googleapis.com/css?family=Raleway:100,200,300,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amethysta&family=Orbitron&family=Reenie+Beanie&display=swap');
body {
  background-image: url(./background.png);
  font-family: 'Raleway', sans-serif;
  font-size: 12pt;
  font-weight: 300;
  line-height: 1.65em;
}

/* Container */
#games {
  padding: 4rem;
  margin-top: 10%;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 2.4rem;
}

div {
  margin-top: 1rem;
  width: 424px;
}

article:hover {
  box-shadow: 0 0 4px rgb(104, 104, 104) inset;
}

article {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 2px auto 0;
  max-width: 550px;
  min-height: 300px;
  padding: 24px;
  position: relative;
  width: 80%;
  margin-top: 40px;
  height: calc(100% - 40px);
  /* background-image: repeating-linear-gradient(
    white 0px,
    white 24px,
    steelblue 25px
  ); */
}

article:before,
article:after {
  content: '';
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
article:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
article:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}

/*Title*/
h1 {
  position: absolute;
  right: 50%;
  transform: translate(50%, -50%);
  text-transform: uppercase;
  font-family: 'Goldman', cursive;
  font-size: 30px;
  font-weight: 50;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #f6f7f7, 1px 18px 6px rgba(141, 218, 248, 0.4),
    1px 22px 10px rgba(102, 118, 126, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}
/*Nav*/
a#one,
button {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 40px #0ff, 0 0 20px #0ff;
  font-weight: 400;
  font-size: 1.25em;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Goldman', cursive;
  padding-left: 10px;
  padding-right: 50px;
}
a#one:hover {
  filter: grayscale(0) opacity(1);
  filter: grayscale(1) opacity(0.8);
}
button:hover {
  filter: grayscale(0) opacity(1);
  filter: grayscale(1) opacity(0.8);
}
.container2,
nav {
  display: grid;
  text-align: center;
  margin-top: 10px;
}

/*Text*/
p.info {
  margin: 0 0 2em 0;
  font-family: 'Amethysta', serif;
  position: relative;
  font-weight: 500;
  overflow: hidden;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #000000;
  line-height: 1.7rem;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
}

h2 {
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 14pt;
}

footer {
  font-family: 'Reenie Beanie', cursive;
  text-align: center;
  font-size: 18pt;
  padding: 20px;
  color: white;
}
p.foot {
  padding-left: 150px;
}

/* IMG */

img.image {
  margin: 22px;
  padding: 0;
  border-color: black;
  max-width: 80%;
  border-radius: 5px;
}
img.image:hover {
  filter: grayscale(0) opacity(1);
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.3), 0px 10px 2px rgba(0, 0, 0, 0.1);
  filter: grayscale(1) opacity(0.8);
}

img.image * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/*RATINGPAGEs*/

button {
  border-color: transparent;
  background-color: transparent;
  margin-left: 40px;
}

img.imagerates {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background: #000;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.5);
  display: block;
  max-width: 100%;
  transition: opacity 0.2s ease-in-out;
}

img.imagerates:hover {
  opacity: 0.5;
}
img.imagerates::after,
img.imagerates::before {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 50%;
  transition: transform 0.4s ease-out;
  color: #fff;
}

p.ratingtext,
label {
  font-family: 'Reenie Beanie', cursive;
  position: relative;
  font-weight: 500;
  font-size: 33px;
  text-align: center;
  margin-right: initial;
  text-shadow: 0 0 5px #fff, 0 0 20px #0ff;
}
label {
  padding-left: 5px;
}

span.MuiRating-root {
  color: #00dbff;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  font-size: 1.5rem;
  text-align: left;
  -webkit-tap-highlight-color: transparent;
  margin-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

h5.ratingpagedec {
  margin-left: 40px;
}
p.currentrating {
  font-family: 'Big Shoulders Inline Text', cursive;
  position: relative;
  font-weight: 500;
  font-size: 33px;
  text-align: center;
  margin-right: initial;
  padding-left: 5px;
  padding: 10px;
  margin-top: 10px;
  text-shadow: 0 0 5px #fff, 0 0 20px #0ff;
}
h6.ratingpagedec {
  margin-left: 40px;
}
label.two {
  margin-left: 20px;
}
